@model Training_System.Models.Score

@{
    ViewBag.Title = "Delete Score";
}

<div class="container">
    <h2>Remove Score</h2>

    <h3>Are you sure you want to remove this?</h3>
    <div>
        <h4>Score</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @*@Html.DisplayNameFor(model => model.Mark_Date)*@
                Mark Date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mark_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ToTal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ToTal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.Status)*@
                @if (Model.Status == true)
                {
                    <button class="btn btn-success">Passed</button>
                }
                else if (Model.Status == false)
                {
                    <button class="btn btn-danger">Failed</button>
                }
                else
                {
                    <button class="btn btn-default">Not Assign Yet</button>
                }
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.Update_Date)*@
                Update Date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Update_Date)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.Course.Name)*@
                Course
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.Name)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.Trainee.FullName)*@
                Trainee
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trainee.FullName)
            </dd>

        </dl>

        @using (Html.BeginForm("DeleteScore", "Trainer", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @*@Html.ActionLink("Back to List", "Index")*@
                <a href="/Trainer/MarkStudents/@Model.CourseId">Back to List</a>
            </div>
        }
    </div>
</div>