@model Training_System.Models.Enrollment

@{
    ViewBag.Title = "Add Enrollment";
}

<div class="container">
    <h2>Create</h2>

    @using (Html.BeginForm("CreateEnrollment", "StaffTrainer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Enrollment</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @*@Html.LabelFor(model => model.Enroll_Date, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label for="Enroll_Date" class="control-label col-md-2">Enroll Date</label>
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.Enroll_Date, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input type="text" id="Enroll_Date" name="Enroll_Date" class="form-control" value="@DateTime.Now.ToString()" />
                    @Html.ValidationMessageFor(model => model.Enroll_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descriptions, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descriptions, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descriptions, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.CourseId, "CourseId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label for="CourseId" class="control-label col-md-2">Course</label>
                <div class="col-md-10">
                    @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.TraineeId, "TraineeId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label for="TraineeId" class="control-label col-md-2">Trainee</label>
                <div class="col-md-10">
                    @Html.DropDownList("TraineeId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TraineeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "manageEnrollment")
    </div>
</div>