@model Training_System.Models.Admin

@{
    ViewBag.Title = "Details Admin";
}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Admin</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DoB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DoB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExperienceDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExperienceDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WorkingPlace)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WorkingPlace)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Education)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Education)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.UserName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditAdminProfile", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "manageAdmin")
    </p>
</div>